.Hole {
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    width: 90%;    
    padding: 10px;
    text-align: center;
}

@media (min-width: 850px) {
    .Hole {
      width: 300px;
      margin: 15px;
    }
  }
  
  @media (max-width: 850px) {
    .Hole {
      width: 200px;
      margin: 15px;
    }
  }

.FlexContainer {
  display: flex;
  height: 50px;
  justify-content: center;
}

.FlexContainer button {
  width: 50px;
  cursor: pointer;
  background-color: black;
  color: white;
  outline: none;
  font-weight: bold;
}

.FlexContainer button:hover {
  background-color: rgb(104, 107, 107);
}

.Throws {
  padding-left: 25px;
  padding-right: 25px;
}