.NewGame {
  margin-top: 35px;
  margin-bottom: 60px;
}

.NewGame a {
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px #ccc;
  background-color: black;    
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.FrontPage a:hover {
  background-color: rgb(60, 78, 82);
}