@media (min-width: 768px) {
    FrontPage {
      width: 1000px;
      margin: auto;
    }
  }

.FrontPage a {
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px #ccc;
  background-color: black;
  width: 90%;    
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.FrontPage a:hover {
  background-color: rgb(60, 78, 82);
}